.content-mitte {
  // Center everything ever
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh;
  display: flex;
}

.background-pio {
  background-image: url('../../img/background.jpeg');
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.18;
  z-index: -1; /* some high enough value so it will render on top */
  filter: grayscale(10);
}

.background-pio-effect {
  -webkit-animation: fadeouts 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeouts 4s; /* Firefox < 16 */
  -ms-animation: fadeouts 4s; /* Internet Explorer */
  -o-animation: fadeouts 4s; /* Opera < 12.1 */
  animation: fadeouts 4s;

  @keyframes fadeouts {
    from {
      opacity: 0.18;
    }
    to {
      opacity: 0;
    }
  }
}

.mobile-mitte {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh;

  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.fade-out {
  -webkit-animation: fadeout 2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s forwards; /* Firefox < 16 */
  -ms-animation: fadeout 2s forwards; /* Internet Explorer */
  -o-animation: fadeout 2s forwards; /* Opera < 12.1 */
  animation: fadeout 2s forwards;
  animation-fill-mode: forwards;
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.projectfadein-text {
  opacity: 0;
  color: white;
  animation-name: fadeInOut forwards;
  animation-delay: 1s;
  animation-duration: 5s;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.92);
  }

  45% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0%;
    transform: scale(0.92);
  }
}

.projekt-text {
  font-size: 3em;
}

$speed: 0.5s;

.btn-flip {
  margin-top: 40px;
  width: 300px;
  height: 50px;
  opacity: 1;
  outline: 0;
  color: white;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    border: 2px solid #323237;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    background: white;
    display: block;
    transition: $speed;
    position: absolute;
    color: black;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    border: 2px solid white;
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    background: transparent;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}
